body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-modal{
    border: none;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60ch;
}
/*for background after modal  */
.bg-modal::backdrop{
    opacity: .5;
}
.bg-modal-content{
    display: flex;
    flex-direction: column;
}
.bg-modal-content .bg-modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: normal;
}
.bg-modal-content .bg-modal-header span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
.bg-modal-content .bg-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: normal;
}
.bg-modal-content .bg-modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}
.bg-modal-content .bg-modal-footer button:nth-child(1){
    background: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.bg-modal-content .bg-modal-footer button:nth-child(2){
    background: #ff0000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* End of modal.css */

input[type="text"], input[type="email"]{
    border: none;
    border-bottom: 1px solid #151D3B;
    padding: .5rem 0;
    margin-bottom: .5rem;
    font-size: 1rem;
    width: 100%;
}

input:focus{
    border-bottom: 2px solid #151D3B;
    outline: none;
}






